<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Maples Café</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but Maples Café Website doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">
      <!-- this is added by me friday 10/5 -->

      <v-app id="inspire">
        <v-main>
          <v-container>
            <v-app-bar v-if="authenticated" >
              <app-nav></app-nav>
            </v-app-bar>
            <!-- show the component -->
            <router-view @authenticated="setAuthenticated" ></router-view>
          </v-container>
        </v-main>
      </v-app>

    </div>
    <!-- built files will be auto injected -->

    <script src="js/components/app-dashboard.js"></script>




  </body>
</html>
